@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");
.porh {
  width: 100%;
  height: 70vh;
  background-image: url(../img/pback.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.porh .potext {
  padding-top: 8%;
}
.porh .moused {
  padding-top: 45%;
}

#pcont {
  background-color: #17202A;
  width: 100%;
  padding: 2.5rem;
}
#pcont .card-pc a.hide {
  display: none;
}
#pcont .filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}
#pcont .filter .fillter-l {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pcont .filter .fillter-l li {
  margin-right: 5%;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  padding: 5px 15px;
}
#pcont .filter .fillter-l .activef {
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  color: #3292ff;
}
#pcont .card {
  text-decoration: none;
  border: none;
  width: 50%;
  height: 270px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  position: relative;
}
#pcont .card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f3c6e;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pcont .card::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00e";
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pcont .card:hover::after {
  opacity: 0.5;
}
#pcont .card:hover::before {
  opacity: 1;
}
#pcont .w1 {
  background-image: url(../img/oreo.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#pcont .w2 {
  background-image: url(../img/wb4.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#pcont .w3 {
  background-image: url(../img/trade.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#pcont .w4 {
  background-image: url(../img/wdl.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#pcont .w5 {
  background-image: url(../img/wb5.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#pcont .card-ct {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#pcont .scrl {
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
#pcont .scrl2 {
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
#pcont .scrl1 {
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

@media (min-width: 576px) {
  .porh .potext {
    padding-top: 10%;
  }
  .porh .moused {
    padding-top: 0;
  }

  .porh {
    width: 100%;
    height: 100vh;
  }
}
.header-nav {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav .scroll-indicator-container {
  width: 100%;
  height: 2px;
}
.header-nav .scroll-indicator-container .scroll-indicator-bar {
  background-color: #fff;
  width: 0;
  height: 100%;
  box-shadow: rgba(25, 159, 255, 0.5254901961) 0px 2px 8px 0px;
  border-radius: 5px;
}

nav {
  width: 90%;
  position: fixed;
  top: 1.5rem;
  z-index: 100;
}

.container1 {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.789);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1 .active {
  color: #fff;
}
.container1 ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container1 ul li {
  text-align: center;
  margin-bottom: 25px;
  font-size: 35px;
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}
.container1 ul li a {
  color: rgb(167, 167, 167);
  font-weight: bold;
}
.container1 ul li a:hover {
  color: white;
}
.container1 ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.3s;
}
.container1 ul li a:hover::after {
  width: 100%;
}
.container1 #colsebtn {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  color: #fff;
  font-size: 1.8rem;
}

#main {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  transition: all 0.3s;
  padding: 10px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#main #openbtn {
  cursor: pointer;
  display: block;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.lg {
  color: #fff;
}
.lg h4 {
  font-size: 1.8rem;
}

@media (min-width: 576px) {
  .container1 {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 0;
    position: static;
    overflow-x: visible;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 5rem;
  }
  .container1 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .container1 ul li {
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    margin-left: 10px;
  }
  .container1 ul li a {
    font-weight: normal;
    color: rgb(167, 167, 167);
  }
  .container1 ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -1rem;
    left: 0;
    background-color: white;
    transition: all 0.3s;
  }
  .container1 #colsebtn {
    display: none;
    position: absolute;
    top: 35px;
    right: 35px;
    color: #fff;
  }

  #openbtn {
    display: none !important;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
  }
}
.homeh {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hbck.jpg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.scrolltop {
  z-index: 1;
  opacity: 0;
  position: fixed;
  bottom: 10px;
  right: 25px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  animation: sy 0.5s infinite alternate;
}
@keyframes sy {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.scrolltop a {
  color: #fff;
  text-decoration: none;
}
.scrolltop a:hover {
  color: rgba(255, 255, 255, 0.76);
}
.scrolltop a i {
  font-size: 3.5rem;
  transition: all 0.3s ease-in-out;
}

.tybw {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15%;
}
.tybw .type-writer-c {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.tybw h1 {
  font-size: 4rem !important;
}
.tybw .typewrite {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.tybw .c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tybw .c1 .ad {
  font-weight: 600;
}
.tybw .c1 .btnd {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #fff;
  padding: 0.5rem;
  margin-top: 1.8rem;
  font-size: 1.8rem;
  text-align: center;
  background: transparent;
  position: relative;
  transition: all 0.3s ease-in-out;
  border: none;
  border: 1px solid #fff;
  border-radius: 5px;
  display: inline-block;
  margin: 0 0.5rem;
  animation: pulse infinite;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */
  z-index: 1;
}
.tybw .c1 .btnd::after {
  width: 0;
  height: 0;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.tybw .c1 .btnd:hover::after {
  width: 100%;
  height: 100%;
}
.tybw .c1 .btnd:hover {
  color: black;
}

#silder-container {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
#silder-container #back,
#silder-container #next {
  opacity: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(238, 238, 238, 0.678);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 100%;
  font-size: 18px;
  cursor: pointer;
  z-index: 999;
  position: absolute;
  top: calc(50% - 15px);
}
#silder-container #back {
  left: 15px;
}
#silder-container #next {
  right: 15px;
}
#silder-container #slider {
  width: fit-content;
  display: flex;
  height: 400px;
  position: relative;
  left: 0;
  transition: all 0.5s ease;
}
#silder-container #slider .slide {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#silder-container #slider .slide h1 {
  font-size: 9.5rem !important;
}

.scroll-btn p {
  margin-left: -55px;
}

body {
  position: relative;
}

.lefti-c {
  height: 100vh;
  position: fixed;
  left: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lefti-c .leftiocn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
}
.lefti-c .leftiocn a {
  font-size: 2.2rem;
  color: #fff;
}
.lefti-c .leftiocn a:hover {
  color: #2886e4;
  transform: scale(1.3);
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 5%;
  margin-left: 4%;
}

.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.scroll-btn p {
  position: relative;
  left: 3px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 27px;
  height: 47px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

@media (min-width: 576px) {
  .tybw {
    margin-top: 10%;
  }

  .tybw .type-writer-c {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: #fff;
  }

  .scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 7%;
    margin-left: 0;
  }
}
#content {
  background-color: #17202A;
  padding: 15px 0;
}
#content #s-a {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content .about-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
#content .about-c .img-c {
  flex-basis: 100%;
}
#content .about-c .about-text {
  flex-basis: 100%;
  color: white;
  text-align: center;
}
#content .about-c .about-text p {
  font-size: 2rem;
}
#content .about-c .about-text p .readmore {
  display: none;
}
#content .about-c .about-text .readbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 0;
}
#content .about-c .about-text .readbtn .btn {
  font-size: 1.6rem;
  position: relative;
  z-index: 1;
  color: white;
  border-color: #fff;
  border: none;
  outline: 1px solid #fff;
  border-radius: 5px;
}
#content .about-c .about-text .readbtn .btn::after {
  width: 0;
  height: 0;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
#content .about-c .about-text .readbtn .btn:hover::after {
  width: 100%;
  height: 100%;
}
#content .about-c .about-text .readbtn .btn:hover {
  color: black;
}

.about-h {
  color: white;
  padding: 5px;
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-h h1 {
  font-size: 4rem;
  position: relative;
  z-index: 1;
}
.about-h h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  background-color: #0000ca;
  z-index: -1;
  animation: scale-up-left infinite 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
@keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
@media (min-width: 576px) {
  #content {
    padding: 0;
  }
  #content #s-a {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #content .about-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  #content .about-c .img-c {
    flex-basis: 50%;
  }
  #content .about-c .about-text {
    flex-basis: 50%;
    text-align: start;
  }
  #content .about-c .about-text p {
    font-size: 2.2rem;
  }
  #content .about-c .about-text .readbtn {
    margin-left: -10rem;
  }
}
#s-b {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#s-b .wrapper {
  min-width: 100%;
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
#s-b .w-container {
  width: 100%;
  padding: 30px 30px 50px;
  background-color: #17202A;
  border: 2px solid rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  box-shadow: #17202A 3px 3px 6px 0px inset, #17202a -3px -3px 6px 1px inset;
  backdrop-filter: blur(10px);
}
#s-b .w-container * {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
}
#s-b h2 {
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}
#s-b .skills:not(:last-child) {
  margin-bottom: 30px;
}
#s-b .details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#s-b .bar {
  position: relative;
  border: 2px solid #0d96e0;
  border-radius: 20px;
}
#s-b .bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #0d96e0;
}

#html-bar {
  animation: html-fill 2s forwards;
}

@keyframes html-fill {
  100% {
    width: 90%;
  }
}
#css-bar {
  animation: css-fill 2s forwards;
}

@keyframes css-fill {
  100% {
    width: 75%;
  }
}
#js-bar {
  animation: js-fill 2s forwards;
}

@keyframes js-fill {
  100% {
    width: 72%;
  }
}
#jQuery-bar {
  animation: jQuery-fill 2s forwards;
}

@keyframes jQuery-fill {
  100% {
    width: 78%;
  }
}
@media (min-width: 576px) {
  #s-b .wrapper {
    min-width: 60%;
  }
}
.footere {
  background-color: #1B2631;
}
.footere .container {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footere ul {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 13px;
}
.footere ul li {
  transition: all 0.3s ease-in-out;
}
.footere ul li:hover {
  transform: scale(1.3);
}
.footere ul a {
  color: #fff;
  font-size: 1.5rem;
}
.footere .ficon {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
  font-size: 1.8rem;
}
.footere .ficon a {
  color: #fff;
}
.footere .ficon a:hover {
  transform: scale(1.3);
}
.footere .footer-t {
  color: #fff;
  font-size: 1.3rem;
}

.c-h-c {
  background-image: url(../img/conback.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#ccont {
  width: 100%;
  height: 100%;
  padding: 1.7rem;
  background-color: #17202A;
  color: #fff;
  font-size: 1.5rem;
}
#ccont .single_address i {
  padding-bottom: 10%;
}
#ccont .address {
  text-align: center;
}
#ccont .btn-c {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ccont .p-head {
  padding-top: 2% !important;
  padding-bottom: 2%;
}
#ccont form {
  margin-top: 5%;
}
#ccont .form-c {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
#ccont .form-c input,
#ccont .form-c textarea {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 10px;
  font-size: 1.4rem;
}
#ccont .form-c .btn {
  margin-top: 2%;
  font-size: 1.6rem;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
#ccont .form-c .btn:hover {
  opacity: 0.7;
}
#ccont .form-c form {
  flex-basis: 100%;
}
#ccont .form-group {
  margin-bottom: 2%;
}
#ccont #contact {
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
#ccont .btn {
  color: #fff;
}

@media (min-width: 576px) {
  #ccont .form-c {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
  #ccont .address {
    text-align: start;
  }
  #ccont .form-c form {
    flex-basis: 30%;
  }
  #ccont form {
    margin-top: 0;
  }

  .btn-c {
    margin-top: 0;
    display: flex;
    align-items: stretch;
    justify-content: start;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  letter-spacing: 0.6px;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background-color: #36414d;
}
body::-webkit-scrollbar-thumb {
  background-color: #17202A;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  transition: all 0.3s;
}

.spiner {
  /* From https://css.glass */
  background: rgba(6, 6, 6, 0.77);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);
  width: 100%;
  height: 100vh;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  font-size: 1.3rem;
}
.spiner .spinner-grow {
  color: white;
}
.spiner span {
  margin-top: 5px;
  color: rgb(255, 255, 255) !important;
}
