#s-b {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        min-width: 100%;
        opacity: 0;
        transform: scale(0.1);
        transition: all 1s ease-in-out;
    }
    .w-container {
        width: 100%;
        padding: 30px 30px 50px;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.047);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .w-container * {
        font-family: "Poppins", sans-serif;
        color: #fff;
        font-weight: 500;
    }
    h2 {
        margin-bottom: 50px;
        letter-spacing: 2px;
        text-align: center;
        font-size: 33px;
        font-weight: bold;
    }
    .skills:not(:last-child) {
        margin-bottom: 30px;
    }
    .details {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .bar {
        position: relative;
        border: 2px solid #ffffff;
        border-radius: 20px;
        div {
            position: relative;
            width: 0;
            height: 9px;
            border-radius: 10px;
            background-color: #ffffff;
        }
    }
}

// #html-bar {
//     animation: html-fill 2s forwards;
// }
@keyframes html-fill {
    100% {
        width: 90%;
    }
}

// #css-bar {
//     animation: css-fill 2s forwards;
// }
@keyframes css-fill {
    100% {
        width: 75%;
    }
}

// #js-bar {
//     animation: js-fill 2s forwards;
// }
@keyframes js-fill {
    100% {
        width: 72%;
    }
}

// #jQuery-bar {
//     animation: jQuery-fill 2s forwards;
// }
@keyframes jQuery-fill {
    100% {
        width: 78%;
    }
}

@media (min-width: 576px) {
    #s-b {
        .wrapper {
            min-width: 60%;
        }
    }
}