#s-b {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        min-width: 100%;
    }
    .w-container {
        width: 100%;
        padding: 30px 30px 50px;
        background-color: #17202A;
        border: 2px solid rgba(255, 255, 255, 0.06);
        border-radius: 10px;
        box-shadow: #17202A 3px 3px 6px 0px inset, #17202a -3px -3px 6px 1px inset;
        backdrop-filter: blur(10px);
    }
    .w-container * {
        font-family: "Poppins", sans-serif;
        color: #fff;
        font-weight: 500;
    }
    h2 {
        margin-bottom: 50px;
        letter-spacing: 2px;
        text-align: center;
        font-size: 33px;
        font-weight: bold;
    }
    .skills:not(:last-child) {
        margin-bottom: 30px;
    }
    .details {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .bar {
        position: relative;
        border: 2px solid #0d96e0;
        border-radius: 20px;
        div {
            position: relative;
            width: 0;
            height: 9px;
            border-radius: 10px;
            background-color: #0d96e0;
        }
    }
}

#html-bar {
    animation: html-fill 2s forwards;
}

@keyframes html-fill {
    100% {
        width: 90%;
    }
}

#css-bar {
    animation: css-fill 2s forwards;
}

@keyframes css-fill {
    100% {
        width: 75%;
    }
}

#js-bar {
    animation: js-fill 2s forwards;
}

@keyframes js-fill {
    100% {
        width: 72%;
    }
}

#jQuery-bar {
    animation: jQuery-fill 2s forwards;
}

@keyframes jQuery-fill {
    100% {
        width: 78%;
    }
}

@media (min-width: 576px) {
    #s-b {
        .wrapper {
            min-width: 60%;
        }
    }
}